

/*===========================================================
                          GENERAL
===========================================================*/

body{
  background-color: #eee;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  background: none;
  border: none;
  transition: transform 0.4s;
}

button:hover{
  transform: scale(1.3);
}

button:focus{
  background-color: rgba(0, 0, 0, 0.0);
}

li:hover{
  background: none;
}

a:hover{
  background: none;
}

.top_link{
  position :fixed;
  right				:	10px;
  bottom				:	10px;
  display			:	none;
  padding			:	10px;
  background		:	#666;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index			:	2000;
  color: #eee;
  font-size: 20px;
  transition: transform 0.4s,opacity 0.4s;
}

.top_link:hover{
  transform: scale(1.1);
  opacity:1;
  background:	#f6861f;
  opacity: 0.9;
}

/*===========================================================
                          HEADER
===========================================================*/

#navbar{
  height: 70px;
  margin-top: 40px;
  background-color: #f6861f;
  position: relative;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
}

#navbar a{
  font-size: 20px;
  font-weight: bolder;
  height:100%;
  transition: background 0.5s,
              color 0.5s;
}

#dropdown1 a{
  color:#f6861f;
}

#navbar ul a:hover{
  background-color: #eee;
  color:#f6861f;
}

#position_brand-logo{
  position:absolute;
  transform: translate(-50px, -29px);
  z-index: 100;
}



/*===========================================================
                          FOOTER
===========================================================*/





/*===========================================================
                           ACCUEIL
===========================================================*/


/*SLIDERS*/

#carroussel{
  position:relative;
  margin:0;
}

.article_carroussel{
  padding: 150px 50px 40px 50px;
  transition: transform 0.5s;
}

/*.article_carroussel:hover{
  transform: translateX(100%);
}*/

.article_carroussel h1{
  background-color:rgba(0, 0, 0, 0.6);
  color:white;
  padding:10px 20px;
  margin-bottom: 0;
  font-size: 27px;
  width:300px;
}

.article_carroussel h2{
  background-color:#f6861f;
  color:white;
  padding:10px 30px;
  margin-top: 5px;
  font-size: 45px;
  width:400px;
}

.article_carroussel p{
  font-size: 18px;
  color: white;
}

.article_carroussel h3{
  color:white;
  padding:10px 15px;
  font-size: 29px;
}

.article_carroussel h4{
  background-color:#f6861f;
  color:white;
  padding:10px 15px;
  font-size: 25px;
  width:200px;
}

.button:visited{
  background-color: none;
}

.button_float_left{
  color: white;
  right:0;
  position: absolute;
  height: 100%;
  font-size: 40px;
}
.button_float_right{
  color:white;
  left:0;
  position: absolute;
  height:100%;
  font-size: 40px;
}

.carroussel_image_1{
  background-image: url(../img/15123260_1419990508029557_8695490703272763652_o.jpg);
  background-size:cover;
  background-position: center;
}

.carroussel_image_2{
  background-image: url(../img/14481934_1369922269703048_5694382966297899817_o.jpg);
  background-size:cover;
  background-position: center;
}

.carroussel_image_3{
  background-image: url(../img/equipeDeDos.jpg);
  background-size:cover;
  background-position: center;
}

.carroussel_image_4{
  background-image: url(../img/15110370_1419990894696185_2284442767095474723_o.jpg);
  background-size:cover;
  background-position: center;
}



/*cette classe donne un background orange aux sections voulus*/
.section_orange{
  border-top: solid 4px black;
  background-color: #f6861f;
  box-shadow: 5px 2px 20px 5px rgba(20, 0, 0, 0.2);
}

/*DERNIER MATCH*/
.section_dernier_match{
  text-align: center;
  padding:40px;
}

.section_dernier_match h3{
  margin-bottom: 80px;
  font-size: 35px;
}


.section_dernier_match article{
  justify-content:center;
}

.section_dernier_match article .score_div p:first-child{
  background-color:#f6861f;
  color:white;
  font-weight: bold;
  font-size: 60px;
  margin:auto;
  padding:0px 30px;
  width:170px;
}


/*le VS*/
.section_dernier_match article p:nth-child(2) {
  margin: 40px auto;
  padding: 0px;
  font-size: 40px;
  font-weight: bolder;
  border-top: solid 4px #f6861f;
  border-bottom: solid 4px #f6861f;
  width: 100px;
}

/*les deux images des scores*/
.section_dernier_match article .score_div .score_final_img_1{
  transform: translate(-200px, -140px);
  position:absolute;
}
.section_dernier_match article .score_div .score_final_img_2{
  transform: translate(50px, -140px);
  position:absolute;
}

.section_dernier_match h4{
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: -5px;
}

.section_dernier_match h5{
  margin-top: 0px;
  color:#f6861f;
  font-size: 20px;
}




/*LES MATCHS*/
.section_les_matchs{
  padding: 0px 50px 50px;
  text-align: center;
}

.section_les_matchs .prochain_match_VS{
  display: flex;
  justify-content: center;
}

.section_les_matchs h3{
  font-size: 28px;
  font-weight: bold;
  background-color: #ffe0ca;
  width: 300px;
  margin: 70px auto;
  padding: 10px;
  margin-top: solid 5px black;
  box-shadow: 5px 5px 5px 0px rgba(20, 0, 0, 0.2);
}

.section_les_matchs .prochain_match_VS img{
  width:120px;
  height: 150px;
  margin: 10px 30px;
}

.section_les_matchs .prochain_match_VS h4{
  font-size: 50px;
  margin-bottom: -50px
}

.section_les_matchs .prochain_match div{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: solid 8px #ffe0ca;
  padding:10px;
  margin: auto;
  width:300px;
}

.section_les_matchs .prochain_match div h5{
  margin: auto;
}


.section_les_matchs .match_a_venir{
}

.section_les_matchs .tableau_a_venir{
  margin: auto;
}

.section_les_matchs .match_a_venir thead{
  font-weight: bold;
}

.section_les_matchs .match_a_venir td{
  text-align: center;
  padding:15px 25px;
}

.section_les_matchs .match_a_venir tbody tr:nth-child(2n+1){
  background-color: rgba(0, 0, 0, 0.2);
}




/*LES IMAGES*/

.section_images{
  padding-top: 80px;
  height:450px;
}

.section_images img{
  height: 100%;
  width: 300px;
}


/*LES VIDEOS*/

.section_video{
  padding:30px;
  text-align: center;
}

.section_video h3{
  font-size: 28px;
  font-weight: bold;
  background-color: #ffe0ca;
  width: 200px;
  margin: 20px auto 40px;
  padding: 10px;
  margin-top: solid 5px black;
  box-shadow: 5px 5px 5px 0px rgba(20, 0, 0, 0.2);
}

.section_video #video{
  width:100%;
  box-shadow: 3px 5px 10px 3px rgba(0, 0, 0, 0.2);
}

.section_video h4{
  color:white;
}


/**/



/*===========================================================
                           EQUIPE
===========================================================*/

#actualite{
  margin:80px 20px 20px;
}

#actualite article{
  margin: 0 auto;
}

#actualite article img{
top:0;
right:0;
}

#actualite article h1{
  font-size: 27px;
  margin-bottom: -20px;
}

#actualite article h2{
  font-size: 40px;
  color:white;
  background-color: #f6861f;
  padding: 10px;
  width
}

#actualite article h3{
  font-size: 25px;
}

#actualite article p{

}
#horaire_portable{
  margin:80px 5px;
}

#horaire_portable h2{
  padding: 10px;
}

#horaire_portable thead{
  font-size: 30px;
}
.tableau_horaire td{
  text-align: center;
  padding: 10px;
}

#horaire{
  display: none;
}

#horaire h2{
  font-size: 40px;
}

#horaire_portable h2{
  font-size: 40px;
}

#gallery_joueurs img{
  margin: 6px 4px;
}

#gallery_joueurs {
  text-align: center;
}


/*===========================================================
                          FOOTER
===========================================================*/


#footer{
  background-color:rgba(0, 0, 0, 0.6);
  text-align: center;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  box-shadow: 5px 2px 20px 5px rgba(20, 0, 0, 0.2);
}

.footer-copyright{
  background:rgba(0, 0, 0, 1);
}


.dropdown-content{
  color: #f6861f;
}
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/
                      /*MEDIA QUERYS*/
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/





/*Format 750px*/
@media screen and (min-width: 750px){


  /*===========================================================
                            EQUIPE
  ===========================================================*/

  .article_equipe_actualite{
    display:flex;
  }


}


@media screen and (min-width: 989px){


  #main_equipe{
    margin-left: 15%;
    margin-right: 15%;
  }
/*===========================================================
                          HEADER
===========================================================*/


#navbar{
  padding-left:20%;
  padding-right:20%;
}



/*===========================================================
                          Accueil
===========================================================*/



/*Le carroussel du dépard*/

.article_carroussel{
  padding: 150px 20% 40px 20%;
  height:600px;
}


/*La section "Dernier match"*/
  .section_dernier_match article{
    display: flex;
  }
/*le VS*/
  .section_dernier_match article p:nth-child(2) {
    margin: 0px 30px;
    font-size: 50px;
    width: 100px;
  }

/*les scores*/
  .section_dernier_match article .score_div p:first-child{
    font-size: 60px;
    margin:auto;
    padding:0px 0px;
    width:150px;
  }



/*La section des matchs (agenda)*/
.section_les_matchs{
  display:flex;
  justify-content: center;
}

/*section video*/
.section_video #video{
  width:650px;
  box-shadow: 3px 5px 10px 3px rgba(0, 0, 0, 0.2);
}



/*===========================================================
                          EQUIPE
===========================================================*/

#actualite article{
  width:69%;
}

#actualite{
  display: flex;
}
#horaire_portable{
  display: none;
}
#horaire{
  display:block;
}







/*===========================================================
                          FOOTER
===========================================================*/

#footer{
text-align: left;

}

}
