

/*===========================================================
                          GENERAL
===========================================================*/

body{
  background-color: #eee;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}


/*===========================================================
                          HEADER
===========================================================*/

#navbar{
  background-color: #fb742c;
  padding:10px;
}

#navbar a{
  color:white;
}


/*===========================================================
                          FOOTER
===========================================================*/





/*===========================================================
                           ACCUEIL
===========================================================*/

/*cette classe donne un background orange aux sections voulus*/
.section_orange{
  background-color: #fb742c;
}

/*DERNIER MATCH*/
.section_dernier_matche{
  padding: 60px;
}

.section_dernier_matche article{
}

.section_dernier_matche article h3{
  text-align: center;
}

.section_dernier_matche article h4{
  text-align: center;

}

.section_dernier_matche article h5{
  color:#fb742c;
  margin-top: -20px;
  text-align: center;
}


/*LES MATCHS*/
.section_les_matches{
  height:350px;
  display: flex;
}

.section_les_matches .prochain_match{
  text-align: center;
}

.section_les_matches .prochain_match .prochain_match_VS{
  display: flex;
}

.section_les_matches .prochain_match h4{
  
}


/*===========================================================
                           EQUIPE
===========================================================*/






/*===========================================================
                          FOOTER
===========================================================*/
