

/*===========================================================
                          GENERAL
===========================================================*/

body{
  background-color: #eee;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}


/*===========================================================
                          HEADER
===========================================================*/

#navbar{
  text-align: center;
  background-color: #f6861f;
  padding:10px;
  margin-top: 20px;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
}

#navbar a{
  color:white;
}


/*===========================================================
                          FOOTER
===========================================================*/





/*===========================================================
                           ACCUEIL
===========================================================*/

/*cette classe donne un background orange aux sections voulus*/
.section_orange{
  border-top: solid 4px black;
  background-color: #f6861f;
}

/*DERNIER MATCH*/
.section_dernier_match{
  text-align: center;
  padding:40px;
}

.section_dernier_match h3{
  margin-bottom: 80px;
  font-size: 35px;
}


.section_dernier_match article{
  display:flex;
  justify-content:center;
}

.section_dernier_match article .score_div p:first-child{
  background-color:#f6861f;
  color:white;
  font-weight: bold;
  font-size: 80px;
  margin:0px;
  padding:0px 50px;
}


/*le VS*/
.section_dernier_match article p:nth-child(2) {
  margin: 20px;
  padding: 0px;
  font-size: 50px;
  font-weight: bolder;
  border-top: solid 4px #f6861f;
  border-bottom: solid 4px #f6861f;
}

/*les deux images des scores*/
.section_dernier_match article .score_div .score_final_img_1{
  transform: translate(-200px, -160px);
  position:absolute;
}
.section_dernier_match article .score_div .score_final_img_2{
  transform: translate(40px, -160px);
  position:absolute;
}

.section_dernier_match h4{
  font-size: 25px;
  margin-bottom: -5px;
}

.section_dernier_match h5{
  margin-top: 0px;
  color:#f6861f;
  font-size: 20px;
}





/*LES MATCHS*/
.section_les_matchs{
  padding:50px;
}

.section_les_matchs .prochain_match_VS{
  display:flex;
}

.section_les_matchs .prochain_match div{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: solid 8px #ffe0ca;
  padding:10px;
}

.section_les_matchs .prochain_match div h5{
  margin: auto;
}


.section_les_matchs .match_a_venir{
  width: auto;
  margin: auto;
}

.section_les_matchs .match_a_venir thead{
  font-weight: bold;
}

.section_les_matchs .match_a_venir td{
  text-align: center;
  padding:15px 25px;
}

.section_les_matchs .match_a_venir tbody tr:nth-child(2n+1){
  background-color: rgba(0, 0, 0, 0.2);
}


/*===========================================================
                           EQUIPE
===========================================================*/






/*===========================================================
                          FOOTER
===========================================================*/
